<div class="itemsWrapper">
<span class="itemsLabel">Category: </span>
	<a class="itemCategory" href="/item/display/a"> A </a>
	<a class="itemCategory" href="/item/display/b"> B </a>
	<a class="itemCategory" href="/item/display/c"> C </a>
	<a class="itemCategory" href="/item/display/d"> D </a>
	<a class="itemCategory" href="/item/display/e"> E </a>
	<a class="itemCategory" href="/item/display/f"> F </a>
	<a class="itemCategory" href="/item/display/g"> G </a>
	<a class="itemCategory" href="/item/display/h"> H </a>
	<a class="itemCategory" href="/item/display/i"> I </a>
	<a class="itemCategory" href="/item/display/j"> J </a>
	<a class="itemCategory" href="/item/display/k"> K </a>
	<a class="itemCategory" href="/item/display/l"> L </a>
	<a class="itemCategory" href="/item/display/m"> M </a>
	<a class="itemCategory" href="/item/display/n"> N </a>
	<a class="itemCategory" href="/item/display/o"> O </a>
	<a class="itemCategory" href="/item/display/p"> P </a>
	<a class="itemCategory" href="/item/display/r"> R </a>
	<a class="itemCategory" href="/item/display/s"> S </a>
	<a class="itemCategory" href="/item/display/t"> T </a>
	<a class="itemCategory" href="/item/display/u"> U </a>
	<a class="itemCategory" href="/item/display/v"> V </a>
	<a class="itemCategory" href="/item/display/y"> Y </a>
	<a class="itemCategory" href="/item/display/z"> Z </a>
</div>
