<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
	<head>
		{% include "includes/meta.html" %}
	</head>
	<body>
	<div class="container">
	        {% include "includes/header.html" %}
		{% include "includes/items.html" %}
		<div class="contentContainer">
			
			{% include "includes/sidebar.html" %}
			<div class="content">
				{%for item in item_list %}
					<div class="item">
						<a href="javascript:;" class="title">
						<span class="arrow">></span>
						<span class="txt">{{item.item_name}}</span>
						</a>	
					</div>
					<div class="entryContainer">
					   <div class="entryList">
						{% for entry in item.entry_list %}
							<div class="entry">
								<span class="entryRound"> {{entry.round}}</span>
								<span class="text">{{entry.text}}</span>
								<div class="entryInfo">
								<span class="entryWriter" id="{{entry.eUserId}}">{{entry.eUserName}}</span>
								<span class="entryDate"> {{entry.date}} - </span>
								{% if 'mefallit' == "mefallit" %}
			  					<div class="links">
									<span class="link delete"> Delete </span>
									- 
									<span class="link edit"> Edit </span>
								</div>
								{% endif %}
								</div>
							</div>
						{% empty %}
						<span class="noEntryCase"> You can add you comments to {{item.item_name}} </span>
						{%endfor%}
   						</div>
						{% if is_logged_in %}
						<div class="writeEntry">
						<textarea name="entryText" class="entryTxt"></textarea>
						<span class="entyrBtn">Send</span>
						   </div>
						{% endif %}
				</div>
		
				{% endfor %}
			</div>
		</div>
		{% include "includes/footer.html" %}
	</div>
	</body>
</html>
