<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html> 
	<head>
		{% include "includes/meta.html" %}
	</head>
	<body>
		
		<div class="container">
	           {% include "includes/header.html" %}
		<div class="wrapper">
		   <div class="loginContainer">
			<div class="login-form twitter">
				<h2>
					You can login with 
				</h2>
				<span id="login"></span>
				<script type="text/javascript">
					 twttr.anywhere(function (T) {
						T("#login").connectButton({ size: "large" });
					});
				</script>
			</div>
			<div class="login-form form">
				<h2> Sign In </h2>
				<form class="loginForm" name="login" action="login.py">
					<input type="text" name="username" placeholder="username">
					<input type="password" name="password" placeholder="password">
					<input type="submit" value="log in">	
				</form>

			</div>
		
</div>
			<div class="login-form description">
				<h2> Share, learn and have fun :)</h2>
				<p>
					Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
				</p>
			</div>
</div>

		{% include "includes/footer.html" %}
		</div>
		
	</body>
</html>
